{% extends "includes/base.html" %}

{% block title %}Добавление варианта{% endblock %}

{% block content %}
<div class="card mt-5">
    <div class="card-body">
        <h1 class="card-title text-center">Добавление варианта</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="option">Вариант:</label>
                <input type="text" id="option" name="option" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Добавить</button>
        </form>
    </div>
</div>
{% endblock %}